<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.animeplatform.mapper.CommentLikeMapper">

    <insert id="addLike">
        INSERT INTO comment_likes(comment_id, user_id, created_at)
        VALUES (#{commentId}, #{userId}, NOW())
    </insert>

    <delete id="deleteLike">
        DELETE FROM comment_likes WHERE comment_id = #{commentId} AND user_id = #{userId}
    </delete>

    <select id="findByCommentIdAndUserId" resultType="com.wang.animeplatform.pojo.CommentLike">
        SELECT * FROM comment_likes WHERE comment_id = #{commentId} AND user_id = #{userId}
    </select>

    <select id="findLikedCommentsByUserId" resultType="java.lang.Integer">
        SELECT comment_id FROM comment_likes WHERE user_id = #{userId}
    </select>
</mapper>